# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/

parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg



# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Logs
*.log

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# mypy
.mypy_cache/

# generated models
/howdy/src/models
/howdy/src/models/*.onnx
/howdy/src/models/face_detection_yunet_2023mar_int8bq.onnx
/howdy/src/models/face_recognition_sface_2021dec_int8bq.onnx

# snapshots
/howdy/src/snapshots

# build files
debian/howdy.substvars
debian/files
debian/debhelper-build-stamp
debian/howdy

# vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Meson
/subprojects/

# OpenCode Agent
.sisyphus/
