pkgbase = howdy-next-git
	pkgdesc = Windows Hello style facial authentication for Linux
	pkgver = r613.6cadf2d
	pkgrel = 1
	url = https://codeberg.org/nathawat/howdy-next
	install = howdy-next.install
	arch = x86_64
	license = MIT
	makedepends = git
	makedepends = meson
	makedepends = ninja
	makedepends = cmake
	makedepends = opencv
	depends = libinih
	depends = libevdev
	depends = python
	depends = python-opencv
	provides = howdy
	conflicts = howdy
	conflicts = howdy-git
	replaces = howdy
	replaces = howdy-git
	backup = etc/howdy/config.ini
	source = howdy-next::git+https://codeberg.org/nathawat/howdy-next.git
	source = polkit-agent-helper-howdy.conf
	md5sums = SKIP
	md5sums = 4a3f094d3123029f67a7e6885fcc49bb

pkgname = howdy-next-git
